name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Remove snap Firefox and install official Firefox
        run: |
          # Удаляем snap-версию Firefox (если есть)
          sudo snap remove firefox || true
          # Добавляем PPA с актуальной версией Firefox
          sudo add-apt-repository -y ppa:mozillateam/ppa
          sudo apt-get update
          sudo apt-get install -y firefox

      - name: Install dependencies jq and unzip (если нужны)
        run: sudo apt-get install -y jq unzip

      - name: Install Geckodriver
        run: |
          GECKO_VERSION=$(curl -s https://api.github.com/repos/mozilla/geckodriver/releases/latest | jq -r .tag_name)
          wget https://github.com/mozilla/geckodriver/releases/download/$GECKO_VERSION/geckodriver-$GECKO_VERSION-linux64.tar.gz
          tar -xzf geckodriver-$GECKO_VERSION-linux64.tar.gz
          sudo mv geckodriver /usr/local/bin/
          geckodriver --version

      - name: Build with Maven and run tests with Firefox in headless mode
        run: mvn clean test -Dselenide.browser=firefox -Dselenide.headless=true

